<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Generate Your App keys</h4>
              <!-- <p class="card-category">Created using Roboto Font Family</p> -->
          </div>
          <div class="card-body">
              <div id="typography">
                  <div class="card-title">
                      <!-- <h2>Typography</h2> -->
                  </div>
                  <div class="row">
                        <div class="card-body">
                          <!--   <div class="row">
  
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Username" [(ngModel)]="name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Email address" type="email" [(ngModel)]="email">
                                    </mat-form-field>
                                </div>
  
                             <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="generateKey()">Generate Key</button>
                             <div class="clearfix"></div>
  
                            </div> -->
  
                        <form [formGroup]="keyForm">
                            <div class="row">
  
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="employeeName" formControlName="employeeName">
                                    </mat-form-field>
                                    <div class="small" *ngIf="!keyForm.controls['employeeName'].valid&&keyForm.controls['employeeName'].dirty" class="redlabe">
                                        <span *ngIf="keyForm.controls['employeeName'].errors['required']"> Name cannot be left blank</span>
                                        <span *ngIf="keyForm.controls['employeeName'].errors['pattern']"> Name must contain 3-28 characters, only alphabets and no spaces</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="employerName" type="email" formControlName="employerName">
                                    </mat-form-field>
                                    <div class="small" *ngIf="!keyForm.controls['employerName'].valid&&keyForm.controls['employerName'].dirty" class="redlabe">
                                        <span *ngIf="keyForm.controls['employerName'].errors['required']"> employername cannot be left blank</span>
                                        <span *ngIf="keyForm.controls['employerName'].errors['pattern']"> employername must contain 3-28 characters, only alphabets and no spaces</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="email" type="email" formControlName="email">
                                    </mat-form-field>
                                    <div class="small" *ngIf="!keyForm.controls['email'].valid&&keyForm.controls['email'].dirty" class="redlabe">
                                        <span *ngIf="keyForm.controls['email'].errors['required']"> Email cannot be left blak</span>
                                        <span *ngIf="keyForm.controls['email'].errors['pattern']">Email must be valid</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time" formControlName="billissueDate">
                                       <owl-date-time #dt1></owl-date-time>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                                    <mat-date picker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                </div> -->
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                    <input matInput placeholder="disease" formControlName="disease">
                                    </mat-form-field>
                                    <div class="small" *ngIf="!keyForm.controls['disease'].valid&&keyForm.controls['disease'].dirty" class="redlabe">
                                        <span *ngIf="keyForm.controls['disease'].errors['required']"> disease cannot be left blank</span>
                                        <span *ngIf="keyForm.controls['disease'].errors['pattern']"> disease must contain 3-28 characters, only alphabets and no spaces</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="degination" formControlName="degination">
                                    </mat-form-field>
                                    <div class="small" *ngIf="!keyForm.controls['degination'].valid&&keyForm.controls['degination'].dirty" class="redlabe">
                                        <span *ngIf="keyForm.controls['degination'].errors['required']"> degination cannot be left blank</span>
                                        <span *ngIf="keyForm.controls['degination'].errors['pattern']"> degination must contain 3-28 characters, only alphabets and no spaces</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Bill :</label> 
                                      <input  placeholder="bill" type="file" id="uploadBtn" [disabled]="uploadBoolean">
                                </div>
                                 <div class="col-md-4">
                                    <label>Prescription :</label>
                                      <input  placeholder="bill" type="file" id="uploadBtn1" [disabled]="uploadBoolean">
                                </div>
                                 <div class="col-md-4">
                                    <label>Reports :</label>
                                      <input  placeholder="bill" type="file" id="uploadBtn2" [disabled]="uploadBoolean">
                                </div>
  
  
  
                             <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="uploadBill()" [disabled]="!">Upload Bill</button>
                             <div class="clearfix"></div>
  
                            </div>
                        </form>
                    </div>

              </div>
          </div>
      </div>
  </div>
  </div>
  </div>
  <img src="../assets/img/loader.gif" *ngIf="loading" style="height:15%;width:5%;z-index:9999!important;position :absolute;top:100px;bottom:0;left:170px;right:0;margin:0 auto;">