<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Login</h4>
                      <p class="card-category">Login your profile</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="loginForm">

                           <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Email" type="email" formControlName="email" required >
                                </mat-form-field>
                                 <div *ngIf="!loginForm.controls['email'].valid&&loginForm.controls['email'].dirty"> <span class="small redlabe">Email is required</span></div>
                              </div>
                          </div>
                       <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Password" type="password" formControlName="password" required />
                                </mat-form-field>
                                  <div *ngIf="!loginForm.controls['password'].valid&&loginForm.controls['password'].dirty"><span class="small redlabe">Password is required</span></div>
                              </div>
                          </div>

                          <!-- <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="role" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput  type="file">
                                </mat-form-field>
                              </div>
                          </div>
                       -->
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="login(loginForm.value)"  [disabled]="!loginForm.valid">Login</button>
                          <div class="clearfix"></div>
                          <div class="footer text-center">
                                    <div class="footer text-center">
                                        <a class="text-info font-weight-normal" [routerLink]="['/signup']"><span class="text-dark">Don't have an account ? </span> Sign up</a>&nbsp;
                                        <!-- <p class="txt-or text-info font-weight-normal">or</p>
                                        &nbsp; -->
                                        <!-- <a align="left" class="text-info font-weight-normal" style="cursor: pointer;" (click)="forgotPassword()">Forgot Password?</a> -->
                                    </div>
                                </div>
                      </form>
                  </div>
              </div>
          </div>
  </div>
</div>
<img src="../assets/img/loader.gif" *ngIf="loading" style="height:15%;width:5%;z-index:9999!important;position :absolute;top:100px;bottom:0;left:170px;right:0;margin:0 auto;">