


<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Sign up</h4>
                      <p class="card-category">Create your profile</p>
                  </div>
                  <div class="card-body">

                      <form [formGroup]="signUpForm">
                          <div class="row">
                              <div class="col-md-5">
                                 <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" formControlName="name" required />
                                  </mat-form-field>
                                  <div class="small" *ngIf="!signUpForm.controls['name'].valid&&signUpForm.controls['name'].dirty" class="redlabe">
                                                <span *ngIf="signUpForm.controls['name'].errors['required']"> Name cannot be left blank</span>
                                                <span *ngIf="signUpForm.controls['name'].errors['pattern']"> Name must contain 3-28 characters, only alphabets and no spaces</span>
                                            </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="password" type="password" formControlName="password" >
                                </mat-form-field>
                                <div class="small" *ngIf="!signUpForm.controls['password'].valid&&signUpForm.controls['password'].dirty" class="redlabe">
                                                <span *ngIf="signUpForm.controls['password'].errors['required']">Password cannot be left blank</span>
                                                <span *ngIf="signUpForm.controls['password'].errors['minlength']">password must be atleast 6 characters</span>
                                                <span *ngIf="signUpForm.controls['password'].errors['pattern']&& !signUpForm.controls['password'].errors['minlength']">Password must contain at least 6 characters including 1 uppercase and 1 lowercase letter, 1 special character and 1 number</span>
                                            </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="confirm password" type="password" formControlName="confirmpassword" >
                                </mat-form-field>
                                 <div class="small" *ngIf="!signUpForm.controls['confirmpassword'].valid&&signUpForm.controls['confirmpassword'].dirty" class="redlabe">
                                            </div>
                                            <div *ngIf="signUpForm.controls['confirmpassword'].dirty&&signUpForm.hasError('mismatchedpasswords')"><span class="small redlabe"> Passwords do not match.</span></div>
                              </div>
                          </div>




                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="email" type="email" formControlName="email" >
                                </mat-form-field>
                                <div class="small" *ngIf="!signUpForm.controls['email'].valid&&signUpForm.controls['email'].dirty" class="redlabe">
                                              <span *ngIf="signUpForm.controls['email'].errors['required']"> Email cannot be left blak</span>
                                              <span *ngIf="signUpForm.controls['email'].errors['pattern']">Email must be valid</span>
                                          </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="MobileNumber" type="text" formControlName="mobileNumber" >
                                </mat-form-field>
                                <div class="small" *ngIf="!signUpForm.controls['mobileNumber'].valid&&signUpForm.controls['mobileNumber'].dirty" class="redlabe">
                                    <span *ngIf="signUpForm.controls['mobileNumber'].errors['required']"> Mobile number cannot be left blank</span>
                                    <span *ngIf="signUpForm.controls['mobileNumber'].errors['pattern']"> mobile must contain atleast 10 numbers</span>
                                </div>
                              </div>
                          </div>


                          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="signUp(signUpForm.value)" [disabled]="!signUpForm.valid">Sign Up</button>
                          <div class="clearfix"></div>
                          <div class="footer text-center">
                                    <div class="footer text-center">
                                        <a class="text-info font-weight-normal" [routerLink]="['/login']"><span class="text-dark">Already have an account? </span> Login</a>&nbsp;
                                        <!-- <p class="txt-or text-info font-weight-normal">or</p>
                                        &nbsp; -->
                                        <!-- <a align="left" class="text-info font-weight-normal" style="cursor: pointer;" (click)="forgotPassword()">Forgot Password?</a> -->
                                    </div>
                                </div>
                      </form>
                  </div>
              </div>
          </div>

  </div>
</div>
